*{
 margin: 0;
 padding: 0;
 list-style: none;
}
html{
 overflow-y: scroll;
}
body{
 /* width: 100vw; */
 font-size: 14px;
 font-family: PingFangSC-Regular,sans-serif,PingFangSC-Light,sans-serif,"Microsoft YaHei",arial;
 color: #666;
 outline: none;
 background:url(../imgs/背景图.jpg);
 overflow: hidden;
}
a{
 text-decoration: none;
 color: #666;
}
.clearfix::before,.clearfix::after{
 content: "";
 display: table;
 clear: both;
 overflow: hidden;
}