* {
  margin: 0;
  padding: 0;
}

.nav {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  font-size: 12px;
}

.nav_flex {
  display: flex;
  justify-content: space-between;
}

.nav_left {
  width: 25%;
}

.nav_right {
width: 10%;
}

ul {
list-style: none;
}