div {
  width: 200px;
  height: 200px;
  background-color: gold;
}
div:hover {
  background-color: #ccac00;
}
p {
  width: 100px;
  height: 200px;
  background-color: gold;
  background-color: #804000;
}
