.banner {
 width: 100%;
 height: 560px;
 background: url(../imgs/thetide-banner.jpg) no-repeat center top;
 background-size: auto 560px;
}

.mainer_wrapper {
 width: 1200px;
 margin: 0 auto;

 .mainer_topbar {
  li {
   background: url(../imgs/thetide-icon.png) no-repeat;
   width: 282px;
   height: 171px;
   text-align: center;
   margin-right: 24px;
   float: left;
   position: relative;
   transition: all .3s;

   .mainer_topbar_nav {
    a {
     display: inline-block;
     font-size: 18px;
     width: 72px;
     height: 32px;
     line-height: 32px;
     color: #fff;

     &:hover {
      color: #E02020;
     }
    }
   }

   p {
    font-size: 24px;
    color: #fff;
    padding: 20px 0 28px 0;
    position: relative;

    &::before {
     content: '';
     width: 95px;
     height: 8px;
     background: url(../imgs/thetide-icon.png) no-repeat -292px -81px;
     position: absolute;
     bottom: 18px;
     left: 100px;
    }
   }

   i {
    position: absolute;
    width: 78px;
    height: 34px;
    background: url(../imgs/thetide-icon.png) no-repeat -291px -36px;
    bottom: -18px;
    right: -48px;
    z-index: 1;
   }

   &:hover {
    transform: translateY(-10px);
   }
  }

  & li:last-child {
   margin: 0;

   .mainer_topbar_nav {
    margin-top: -10px;

    a {
     width: 63px;
     line-height: 1.25;
    }

    img {
     width: 50px;
     height: 50px;
     border-radius: 50%;
    }
   }
  }
 }

 .mainer_rol_title {
  padding: 76px 0 40px 0;
  text-align: center;

  p {
   font-size: 16px;
   color: #ACBFDC;
   letter-spacing: 2.4px;
  }

  >span {
   display: block;
   height: 84px;
  }
 }

 .mainer_rol {
  .rol_cont {
   a {
    display: block;
    position: relative;
    width: 384px;
    height: 230px;
    float: left;
    margin: 0 24px 24px 0;
    &:hover{
     img{
      transform: scale(1.08);
     }
    }
   }
   img{
    transition: all .5s;
   }
   span {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    color: #fff;
    height: 40px;
    line-height: 40px;
    background: rgba(0, 0, 0, 0.3);
    padding: 0 18px;
   }
  }

  .fl {
   float: left;
   >a{
    overflow: hidden;
   }
   .rol_cont_swiper {
    width: 792px;
    height: 484px;
    display: flex;
    overflow: hidden;
    margin: 0 24px 24px 0;

    .swiper_wrapper {
     width: 1500px;
     display: flex;
     animation: swiper 5s linear infinite alternate;

     a {
      width: 100%;
      height: 100%;
      margin: 0;
     }
    }
   }
  }

  .fr {
   float: right;
   width: 384px;
   >a{
    overflow: hidden;
   }
   img {
    width: 384px;
    height: 230px;
   }
  }

 }

 .rol1_til {
  span {
   background: url(../imgs/thetide-icon.png) no-repeat 345px -182px;
  }
 }

 .rol2_til {
  span {
   background: url(../imgs/thetide-icon.png) no-repeat 345px -280px;
  }
 }
 .rol2{
  text-align: center;
  height: 500px;
  >a{
   display: inline-block;
   width: 130px;
   height: 40px;
   line-height: 40px;
   margin: 0 5.5px;
   color: #111;
   font-size: 18px;
   background-color: #fff;
   border-radius: 20px;
   text-align: center;
   position: relative;
   overflow: hidden;
   &:hover{
    background-color:#FFDC41;
    &::before{
     content: '';
     position: absolute;
     right: -10px;
     width: 40px;
     height: 40px;
     background: url(../imgs/thetide-icon.png) no-repeat -465px 0;
    }
    &::after{
     content: '';
     position: absolute;
     left: -6px;
     bottom: 0;
     width: 32px;
     height: 11px;
     background: url(../imgs/thetide-icon.png) no-repeat -464px -44px;
    }
   }
  }
  p{
   float: right;
   a{
    color: #819DC9;
    line-height: 40px;
    &:hover{
     color: #a1bce6;
    }
   }
  }
  .rol2_pic{
   margin-top: 30px;
   position: absolute;
   background-color: #19295c;
   a{
    float: left;
    width: 282px;
    height: 190px;
    margin: 0 24px 24px 0;
    transition: all .2s;
   }
   li{
    float: left;
    transition: all .2s;
    a{
     width: 282px;
     height: 190px;
     margin: 0 24px 24px 0;
    }
    &:hover{
     transform: translateY(-10px);
    }
   }
  }
  
  & a:nth-of-type(2):hover{
   ~.r2_pic2{
    z-index: 2;
   }
  }
  & a:nth-of-type(3):hover{
   ~.r2_pic1{
    z-index: 3;
   }
  }
 }
 .rol3_til{
  span {
   background: url(../imgs/thetide-icon.png) no-repeat 345px -387px;
  }
 }
 .rol6_til{
  margin-bottom: 100px;
  span{
   background: url(../imgs/thetide-icon.png) no-repeat 345px -684px;
  }
 }
 .rol6{
  position: relative;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .l_icon{
    height: 80px;
    width: 80px;
    font-size: 80px;
    position: absolute;
    left: -90px;
    top: 50%;
    margin-top: -40px;
    transform: rotateZ(90deg);
    color: rgb(207, 207, 207);
  }
  .r_icon{
   position: absolute;
   left:1010px ;
   top: 50%;
   transform: rotateZ(-90deg);
   z-index: 9;
  }
  >a{
   display: inline-block;
   opacity: .6;
   img{
    width: 500px;
    // opacity: .8;
   }
  }
  .pro_top1{
   position: absolute;
   top: -90px;
   left: 50%;
   transform: translateX(-50%);
   opacity: 1;
   img{
    width: 610px;
    height: 430px;
   }
  }
  &:hover::before,&:hover::after{
   color: rgba(207, 207, 207,.8);
  }
 }
 .botm_Propaganda{
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 920px;
  height: 77px;
  margin: 0 auto;
  background: url(../imgs/thetide-borderbg.png);
  text-align: center;
  padding: 0 40px;
  line-height: 30px;
  padding-top: 12px;
  position: relative;
  &::before{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: -100px;
   background: url(../imgs/thetide-border.png) no-repeat;
  z-index: -1;
  }
  &::after{
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   right: -100px;
   background: url(../imgs/thetide-border.png) no-repeat right top;
   z-index: -1;
  }
 }
 .rol7_til{
  span{
   background:  url(../imgs/thetide-icon.png) no-repeat 345px -880px;
  }
 }
 .buttom_tips{
  text-align: center;
  margin: 0 auto 120px;
  a{
   display: inline-block;
   text-align: center;
   width: 224px;
   height: 60px;
   line-height: 60px;
   font-size: 24px;
   color: #19295B;
   border-radius: 30px;
   background: #fff;
   margin: 20px 12px 0 0;
   &:hover{
    background: #FFDC41;
   }
  }
 }
}

@keyframes swiper {
 0% {
  transform: translateX(0px);
 }

 45% {
  transform: translateX(0px);
 }

 55% {
  transform: translateX(-792px);
 }

 100% {
  transform: translateX(-792px);
 }
}

.footer{
 width: 100%;
 background: #fff;
 .footer_wrapper{
  width: 1000px;
  margin: 0 auto;
  padding: 20px 0 16px;
  .footer_rol1{
   a{
    line-height: 28px;
    letter-spacing: 0.78px;
    margin-right: 20px;
   }
   span{
    margin-left: -10px;
   color: #666;
   a{
    letter-spacing: 0;
   }
   }
  }
  .footer_rol2{
   position: relative;
   a{
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-radius: 20px;
    background: #EDF3F8;
    color: #2CAEFF;
    font-size: 12px;
    i{
     font-size: 14px;
     font-style: initial;
     margin-right: 2px;
    }
    &:hover{
     background-color: #2FA4F5;
     color: #fff;
    }
   }
   & a:nth-of-type(2){
    width: 28px;
    border-radius:14px;
    color: #999;
    margin-left: 5px;
   }
   & a:nth-of-type(2):hover{
    ~.qrcode{
     display: flex;
    }
   }
   .qrcode{
    width: 240px;
    height: 137px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    box-sizing: border-box;
    background-color: #fff;
    color: #999;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -150px;
    left: 6px;
    display: none;
    img{
     width: 100px;
     height: 100px;
    }
   }
  }
  p{
   font-size: 12px;
   color: #999;
   line-height: 26px;
   letter-spacing: 0.76px;
   a{
    font-size: 12px;
    color: #999;
   }
  }
  .footer_rol3{
   span{
    margin-right: 26px;
   }
  }
  .footer_rol4{
   a{
    margin-left: 10px;
    i{
     display: inline-block;
     width: 15px;
     height: 16px;
     margin-right: 2px;
     vertical-align: -3px;
    }
   }
   & a:nth-of-type(1){
    i{
     background: url(../imgs/bottomFilingIcon.png);
    }
   }
   & a:nth-of-type(3){
    i{
     background: url(../imgs/bottomFilingIcon.png) -18px 0;
    }
   }
   & a:nth-of-type(4){
    i{
     background: url(../imgs/bottomFilingIcon.png) -36px 0;
    }
   }
   & a:nth-of-type(5){
    i{
     background: url(../imgs/bottomFilingIcon.png) -54px 0;
    }
   }
  }
  & p:last-child{
   white-space: nowrap;
  }
 }
}